* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Open Sans";
    background: #fffaf5;
}
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
:root {
    --primary-color: #8476e3;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.btn {
    color: #212832;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
}
.btn:hover {
    border-radius: 8px;
    background: #212832;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px; /* 175% */
}
.section_heading {
    color: #212832;
    font-weight: 700;
}
.section_desc {
    color: #696d76;
    font-weight: 400;
}
.section_wallet {
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
}
/* header */
.logo {
    width: 102.68px;
    height: 24px;
}
.header {
    position: sticky;
    top: 0;
    padding: 8px 0;
    z-index: 3;
    overflow: hidden;
    background: #fffaf5;
    margin-top: 42px;
}
.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_list {
    display: flex;
}
.navbar_link {
    position: relative;
    padding: 8px 18px;
    color: #696d76;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.navbar_link:hover::before {
    position: absolute;
    content: "";
    background: #7264d6;
    width: 65px;
    height: 1px;
    bottom: 2px;
    left: 15px;
    border-radius: 0.5px 0px 0px 0px;
}
.navbar_link:hover {
    color: #212832;
    font-weight: 600;
    line-height: 28px; /* 175% */
}
.header_action_btn {
    display: inline-block;
    min-width: 113px;
    padding: 12px 28px;
    --height: 50px;
}
.header_action_btn:hover {
    padding: 12px 28px;
}
/* hero */
.hero {
    margin-top: 76px;
}
.hero_left {
    width: 46%;
}
.hero_left_wallet {
    margin-left: 24px;
    position: relative;
}
.section_wallet::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
    left: -24px;
    bottom: 10px;
}
.hero_left_heading {
    margin-top: 12px;
    width: 500px;
    font-size: 6rem;
}
.hero_left_heading_span {
    color: #7264d6;
}
.hero_left_desc {
    width: 540px;
    font-size: 1.8rem;
    margin-top: 20px;
    line-height: 30px;
}
.hero_form {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 20px 0;
    width: 540px;
    height: 74px;
    display: flex;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}
.hero_form_input {
    border: none;
    outline: none;
    padding: 23px 200px 23px 23px;
}
.hero_left_submit {
    flex-shrink: 0;
    width: 149px;
    height: 58px;
    border-radius: 8px;
    background: #7264d6;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px; /* 175% */
    border: none;
    cursor: pointer;
    outline: none;
}
.hero_left_athour {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 24px;
}
.hero_inner {
    display: flex;
    column-gap: 160px;
}
.hero_right {
    position: relative;
}
.hero_right_phone {
    position: relative;
    width: 296px;
    height: 562px;
    object-fit: cover;
}
.hero_right_phone_topleft {
    position: absolute;
    object-fit: cover;
    padding: 14px 10px;
    background: #fff;
    width: 174px;
    top: 113px;
    left: -100px;
}
.hero_right_phone_topright {
    width: 130px;
    height: 130px;
    object-fit: cover;
    position: absolute;
    top: 127px;
    right: -164px;
}
.hero_right_phone_bottomnight {
    width: 124px;
    height: 68px;
    object-fit: cover;
    position: absolute;
    bottom: 61px;
    right: -74px;
}
/* work */
.work {
    margin-top: 160px;
}
.work_inner {
    display: flex;
    column-gap: 230px;
}
.work_left {
    position: relative;
}
.work_left_main {
    width: 456px;
    height: 619px;
    object-fit: cover;
    position: relative;
}
.work_left_img_top {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 76px;
    right: 55px;
}
.work_left_img_bottom {
    position: absolute;
    bottom: 96px;
    right: -100px;
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    padding: 15px 30px 17px 15px;
}

.word_wallet {
    position: relative;
    margin-left: 24px;
}
.word_heading {
    margin-top: 12px;
    font-size: 4rem;
    font-weight: 700;
}
.word_heading_3 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 16px;
    line-height: 32px;
}
.word_heading_3:nth-of-type(1) {
    margin-top: 70px;
}
.work_desc {
    margin-bottom: 30px;
    width: 470px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
}
/* card */
.card {
    margin-top: 160px;
}
.card_inner {
    display: flex;
    column-gap: 130px;
}
.card_left {
    width: 40%;
}
.card_wallet {
    position: relative;
    margin-left: 24px;
    line-height: 22px;
}
.card_heading {
    margin-top: 12px;
    font-size: 4rem;
    font-weight: 700;
}
.card_desc {
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
}
.card_text {
    margin: 20px 0 38px;
}
.card_chose {
    padding-left: 30px;
    position: relative;
    margin-top: 18px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600; /* 166.667% */
}
.card_chose::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: #7264d6;
    border-radius: 50%;
}
.card_btn {
    display: inline-block;
    min-width: 113px;
    padding: 12px 28px;
    width: 149px;
    height: 58px;
}
.card_right {
    position: relative;
    display: flex;
    align-items: center;
}
.card_right_main {
    position: relative;
    width: 482px;
    height: 322px;
}
.card_left_img_top {
    position: absolute;
    width: 276px;
    height: 86px;
    top: -4px;
    right: -88px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    padding: 23px 13px;
    object-fit: cover;
}
.card_right_img_bottom {
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: -4px;
    right: -88px;
}
/* money */
.money {
    margin-bottom: -80px;
    margin-top: 160px;
}
.money_inner {
    display: flex;
    column-gap: 230px;
}
.money_left {
    position: relative;
}
.money_left_main {
    position: relative;
    width: 470px;
    height: 600px;
    object-fit: cover;
}
.money_left_top {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 280px;
    right: -95px;
    z-index: 1;
}
.money_img_bottom {
    position: relative;
    width: 281px;
    height: 220px;
    object-fit: cover;
    bottom: 282px;
    left: 272px;
    box-shadow: 0px 44px 48px 0px #0000001a;
    border-radius: 4px;
}
.money_right {
    margin-top: 50px;
}
/* client */
.client_top {
    text-align: center;
}
.client_wallet {
    position: relative;
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 22px;
    display: inline-block;
}
.client_wallet::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
    vertical-align: middle;
    left: -24px;
    bottom: 10px;
}
.client_heading {
    font-size: 4rem;
    font-weight: 700;
    margin-top: 10px;
}
.client_desc {
    margin-top: 18px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
}
.client_bottom {
    margin-top: 70px;
    display: flex;
    column-gap: 30px;
}
.client_quote{
    position: relative;
    width: 570px;
    height: 254.98px;
    flex-shrink: 0;
    background: #fff;
    border: 1px solid #dfe2e8;
    border-radius: 8px;
    padding: 42px 28px 42px 28px;
}
.client blockquote {
    position: relative;
    width: 514px;
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 34px;
}
.quote_bottom{
    position: absolute;
    left: 262px;
    display: inline-block;
    width: 65px;
    height: 65px;
    background: #fff;
    border-left: none;
    border-top: none;
    border-right: 1px solid #dfe2e8;
    border-bottom: 1px solid #dfe2e8;
    rotate: 45deg;
    transform: translateY(13px);
    box-shadow: none;
}
.client_info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.client_img{
    position: relative;
    width: 105px;
    height: 105px;
    flex-shrink: 0;
    border-radius: 50%;
}
.client_info_avt {
    position: absolute;
    bottom: 0px;
    z-index: 1;
    width: 104px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
.client_img::before {
    position: absolute;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%; 
   
}
.client_info_name{
    margin-top: 20px;
    color: #070052;
text-align: center;
font-size: 2.6rem;
font-weight: 600;
line-height: 36px; /* 138.462% */
}
.client_info_job{
    margin-top: 2px;
    color: #696D76;
text-align: center;
font-size: 1.8rem;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.client_select{
    margin-top: 38px;
    display: flex;
    column-gap: 12px;
}
.client_select_item{
    width: 22px;
    height: 6px;
    box-sizing: border-box;
    border: 1px solid #9B9FAB;
    border-radius: 1px;
}
.client_select_item:hover{
    background: #7264D6;
    cursor:pointer;
}
/* blog */
.blog {
    margin-top: 160px;
}
.blog_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog_info {
    width: 435px;
}
.blog_desc {
    margin-top: 18px;
    color: #696D76;
font-size: 1.6rem;
font-weight: 400;
line-height: 28px; /* 175% */
}
.blog_wallet{
    margin-left: 24px;
    position: relative;
    line-height: 28px;
}
.blog_heading{
    margin-top: 6px;
font-size: 4.0rem;
font-weight: 700;
line-height: 30px; 
}
.blog_cta{
    display: inline-block;
    width: 123px;
    --height: 58px;
}
.blog_cta:hover{
    padding: 15px 30px;
}
.blog_list {
     display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px 30px;
        grid-auto-flow: row;
        grid-template-areas:
          ". ."
          ". .";
      
      
    margin-top: 70px;
}
.blog_item{
    position: relative;
    display: flex;
    column-gap: 22px;
    padding: 28px;
    border-radius: 12px;
background: #FFF;
box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
cursor:pointer;
transition: 1s box-shadow;
z-index: 1;
}
.blog_item:hover::before , .blog_item:hover::after{
    display: block;
    content: '';
    position: absolute;
    background:rgba(114,100,214,0.45);
  z-index: -2;
  border-radius: 12px;
  animation: 1s clockwise infinite;
  width: 570px;
height: 216px;
}
.blog_item:hover:after {
    z-index: -2;
    border-radius: 12px;
    background: rgba(253, 253, 255, 0.97);
    animation: 2s counterclockwise infinite;
  }
@keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
@keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }
.blog_item:hover{
    z-index: 1;
    box-shadow: 0px 20px 50px 0px rgba(232, 3, 3, 0.07);
}

.blog_item_info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.blog_item_img{
    width: 160px;
height: 160px;
flex-shrink: 0;
border-radius: 12px;
transition: scale 3s;
}
.blog_item_img:hover{
    border:#7264D6 1px solid;
    box-shadow: 0px 20px 50px 0px rgba(232, 3, 3, 0.07);
    transform: scale(1.2);
}
.blog_item_time{
    color: #696D76;
font-size: 1.4rem;
font-weight: 400;
line-height: 24px; /* 171.429% */
}
.blog_item_title{
    margin-top: 10px;
    color: #212832;
font-size: 1.8rem;
font-weight: 600;
line-height: 30px; /* 166.667% */
}
.blog_read{
    display: inline-block;
    margin-top: 20px;
    color: #696D76;
font-size: 1.6rem;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.blog_read:hover{
    color: #7264D6;
    font-weight: 400;
line-height: 26px; 
}
/* download */
.download{
    margin: 160px 0 100px ;
}
.download_inner{
    position: relative;
    padding: 100px 0;
    border-radius: 24px;
    background: #7264D6;
    text-align: center;
    height: 466px;
}
.download_wallet{
    margin-top: 100px;
    position: relative;
    color: #FFF;
font-size: 1.6rem;
font-weight: 400;
line-height: 28px; /* 175% */
}
.download_wallet::before{
    position: absolute;
    content: "";
    width: 18px;
    height: 2px;
    background: #fff;
    left: -24px;
    bottom: 10px;
}
.download_heading{
    margin-top: 12px;
    color: #FFF;
font-size: 4.0rem;
font-weight: 700;
line-height: 50px; /* 125% */
}
.download_desc{
    display: inline-block;
    margin-top: 18px;
    width: 435px;
    color: #FFF;
/* text-align: center;   */
font-size: 1.6rem;
font-weight: 400;
line-height: 28px; /* 175% */
}
.download_ctn{
    display: flex;
    justify-content: center;
    column-gap: 16px;
    margin-top: 38px;
}
.download_ctn_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 64px;
    border-radius: 5px;
    background: #fff;
    transition: all 0.3s ease 0s;
}
.download_ctn_img{
    width: 119px;
    height: 28px;
    object-fit: cover;
}
.download_ctn_wrap:hover{
    border-radius: 50px;
    border-color: #494949;
    transition: all 0.3s ease 0s;
    opacity: 0.7;
}
.download_decor_top, .download_decor_bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.download_decor_top{
    gap: 638px;
    position: absolute;
    top: 49px;
    right: 112px;
}
.download_decor_img_1{
    position: absolute;
    bottom: 49px;
    right: 160px;
}
.download_decor_img_2{
    position: absolute;
    bottom: 49px;
    left: 160px;
}
/* footer */
.footer{
    background: #FAFBFF;
    padding-top: 106px;
}
.footer_list{
    display: flex;
    gap: 163px;
    align-items: flex-start;
}
.footer_logo{
    width: 102.68px;
height: 24px;
flex-shrink: 0;
}
.footer_heading{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.7;
    color: #212832;
    margin-bottom: 24px;
}
.footer_item{
    text-decoration: none;
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
    color: #6a6e78;
    opacity: 0.75;
    margin-bottom: 12px;
}
.footer_item:hover{
    text-decoration: underline;
    color: #7264D6;
}
.footer_address{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
    color: #6a6e78;
    opacity: 0.75;
    margin-bottom: 48px
}
.footer_form{
    display: flex;
    justify-content: space-between;
}
.footer_input{
    font-weight: 400;
    line-height: 1.75;
    color: #212832;
    border: 1px solid #8e919a;
    padding: 12px;
    border-radius: 6px;
    outline: none;
    width: 270px;
}
.footer_input::placeholder{
    font-weight: 400;
    line-height: 1.75;
    color: #8e919a;
    opacity: 0.7;
}
.footer_submit{
    width: 113px;
    border-radius: 6px;
    background-color: #7264d6;
    color: #fff;
    font-weight: 600;
    line-height: 1.75;
    text-align: center;
    padding: 12px 18px;
    border: none;
    cursor:pointer;
}
.footer_contact{
    display: flex;
    gap: 100px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
}
.footer_email, .footer_phone{
    color: #6a6e78;
    margin-top: 54px;
    text-decoration: underline;
}
.footer_email:hover, .footer_phone:hover{
    color: #7264D6;
}
.copyright {
    font-weight: 400;
    line-height: 1.75;
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 28px 0;
    background-color: #7264d6;
    margin-top: 28px;
}